<template>
    <footer class="footer">
        <router-link :to="{name: 'homePage'}" class="logo footer__logo">
            <img loading="lazy" src="../../assets/footer-logo.svg" alt="">
        </router-link>
        <nav class="footer__nav">

            <ul class="footer__nav-list">
                <li class="footer__list-item--title footer__list-item">
                    ОСНОВИ
                </li>
                <li class="footer__list-item">
                    Про TMDb
                </li>
                <li class="footer__list-item">
                    Зв'язок з нами
                </li>
                <li class="footer__list-item">
                    Форуми підтримки
                </li>
                <li class="footer__list-item">
                    API
                </li>
                <li class="footer__list-item">
                    System Status
                </li>
            </ul>
            <ul class="footer__nav-list">
                <li class="footer__list-item--title footer__list-item">
                    ВЗЯТИ УЧАСТЬ
                </li>
                <li class="footer__list-item">
                    Біблія по контенту
                </li>
                <li class="footer__list-item">
                    Сторонні додатки
                </li>
                <li class="footer__list-item">
                    Додати новий фільм
                </li>
                <li class="footer__list-item">
                    Додати новий серіал
                </li>
            </ul>
            <ul class="footer__nav-list">
                <li class="footer__list-item--title footer__list-item">
                    СПІЛЬНОТА
                </li>
                <li class="footer__list-item">
                    Поради
                </li>
                <li class="footer__list-item">
                    Обговорення
                </li>
                <li class="footer__list-item">
                    Лідери
                </li>
                <li class="footer__list-item">
                    <a href="https://twitter.com/themoviedb" class="list-item__link">Twitter</a>
                </li>
            </ul>
            <ul class="footer__nav-list">
                <li class="footer__list-item--title footer__list-item">
                    УГОДИ
                </li>
                <li class="footer__list-item">
                    Умови користування
                </li>
                <li class="footer__list-item">
                    API Правила використання
                </li>
                <li class="footer__list-item">
                    Політика Конфіденційності
                </li>
            </ul>
        </nav>
    </footer>
</template>

<script>
    export default {
        name: 'Footer',
        data: () => {
            return {}
        }
    }
</script>
