<template>
    <header ref="header" class="header">
        <div class="header__inner">
            <div class="category__nav-wrapper">
                <svg class="ham hamRotate ham7" viewBox="0 0 100 100" width="50" @click="openMenu($event)">
                    <path
                        class="line top"
                        d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013" />
                    <path
                        class="line middle"
                        d="m 70,50 h -40" />
                    <path
                        class="line bottom"
                        d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40" />
                </svg>
                <router-link :to="{name: 'homePage'}" class="logo">
                    <img loading="lazy" src="../../assets/logo.svg" alt="">
                </router-link>
                <nav class="header__nav">
                    <ul class="list">
                        <li class="list__item ">
                            <router-link :to="{name: 'filmsPage'}"
                                         class="list__item-link">Фільми
                            </router-link>
                        </li>
                        <li class="list__item">
                            <router-link :to="{name: 'serialsPage'}"
                                         class="list__item-link">Серіали
                            </router-link>
                        </li>
                        <li class="list__item">
                            <router-link :to="{name: 'personsPage'}"
                                         class="list__item-link">
                                Персони
                            </router-link>
                        </li>
                    </ul>
                </nav>
            </div>
            <ul class="primary">

                <li class="primary__item">
                    <router-link :to="{name: 'favoritesPage'}"
                                 class="primary__item-link">
                        <svg width="32px" height="32px" id="glyphicons-basic" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 32 32">
                            <path id="heart" fill="#01b4e4"
                                  d="M27.78131,11.92578c0,4.82666-6.13562,8.68128-11.0376,14.0686a.99978.99978,0,0,1-1.48742,0c-4.902-5.38732-11.03748-9.24194-11.03748-14.0686,0-5.52954,7.53626-9.48682,11.57507-3.82544a.25855.25855,0,0,0,.42029.00562C20.47992,2.43628,27.78131,6.39453,27.78131,11.92578Z"/>
                        </svg>

                    </router-link>
                </li>
                <li class="primary__item">
                    <router-link :to="{name: 'searchPage'}"
                                 class="primary__item-link">
                        <img loading="lazy" class="search-icon"
                             src="../../assets/search-icon--blue.svg"
                             alt="">
                    </router-link>
                </li>
            </ul>
        </div>

    </header>
</template>

<script>
    export default {
        name: 'Header',
        data: () => {
            return {}
        },
        methods: {
            headerPositioning() {
                let headerBlock = this.$refs.header,
                    scrollPosOld = 0;

                window.addEventListener('scroll',  () => {
                    let scrollPos = window.pageYOffset;

                    if (window.pageYOffset > headerBlock.getBoundingClientRect().height) {
                        if (!document.querySelector('#app').classList.contains('menu-opened')) {
                            headerBlock.style.top = `-${headerBlock.getBoundingClientRect().height}px`
                        }
                        if (scrollPos < scrollPosOld) {
                            headerBlock.style.top = '0'
                        }
                    } else {
                        headerBlock.style.top = '0'
                    }

                    scrollPosOld = scrollPos;
                });
            },
            openMenu(e) {
                if (e.target.classList.contains('active')) {
                    this.hideMenu(e)
                } else {
                    this.showMenu(e)
                }
            },
            showMenu(e) {
                e.target.classList.add('active')
                document.querySelector('html').style.overflowY = 'hidden'
                document.querySelector('#app').classList.add('menu-opened')
            },
            hideMenu() {
                document.querySelector('.ham').classList.remove('active')
                document.querySelector('html').style.overflowY = 'visible'
                document.querySelector('#app').classList.remove('menu-opened')
            }
        },
        mounted() {
            this.headerPositioning()
        },
        watch: {
            $route(to, from) {
                this.hideMenu()
            }
        }
    }
</script>
