<template>
    <div
        :class="[`iv-pagination`]"
        class="con-iv-pagination iv-pagination-primary">
        <nav class="iv-pagination--nav">
            <button
                :class="{disabled:current <= 1 ? 'disabled' : null}"
                :disabled="current === 1"
                class="iv-pagination--btns btn-prev-pagination iv-pagination--button-prev"
                @click="prevPage">
                <svg class="svg-icon" width="16" hidden="16" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M245.458824 490.706824L671.442824 64.752941a30.117647 30.117647 0 0 1 42.586352 42.586353L309.368471 512l404.570353 404.570353a30.087529 30.087529 0 0 1 0.060235 42.646588 29.967059 29.967059 0 0 1-42.646588-0.030117L245.519059 533.323294a30.087529 30.087529 0 0 1-0.030118-42.61647z" fill="#000000" /></svg>
            </button>
            <ul class="iv-pagination--ul">
                <li
                    v-for="(page, index) in pages"
                    :key="index"
                    :class="{'is-current': page == current}"
                    class="item-pagination iv-pagination--li"
                    @click="goTo(page)">
                  <span>{{ page }}</span>
                    <div class="effect"></div>
                </li>
            </ul>
            <button
                :class="{disabled:current === total ? 'disabled' : null}"
                :disabled="current === total"
                class="iv-pagination--btns btn-next-pagination iv-pagination--button-next"
                @click="nextPage">
                <svg class="svg-icon" width="16" hidden="16" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M778.541176 490.706824L352.557176 64.752941a30.117647 30.117647 0 0 0-42.586352 42.586353L714.631529 512 310.061176 916.570353a30.087529 30.087529 0 0 0-0.060235 42.646588 29.967059 29.967059 0 0 0 42.646588-0.030117l425.833412-425.86353a30.087529 30.087529 0 0 0 0.030118-42.61647z" fill="#000000" /></svg>
            </button>
            <input
                v-if="goto"
                v-model="go"
                :max="total"
                class="iv-pagination--input-goto"
                min="1"
                type="number"
                @change="goTo">
        </nav>
    </div>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex'

    export default {
        name: 'ivPagination',
        props: {
            total: {
                type: Number
            },
            initialPage: {
                type: Number,
                default: 1
            },
            max: {
                type: Number,
                default: 9
            },
            goto: {
                type: Number
            }
        },
        data: () => ({
            pages: [],
            current: 0,
            go: 0,
            prevRange: '',
            nextRange: ''
        }),
        computed: {
            ...mapGetters([
                'POPULAR_PERSONS'
            ])
        },
        watch: {
            current() {
                this.getPages()
                this.$emit('input', this.current)
                this.$emit('change', this.current)
            },
            total() {
                this.getPages()
            },
            initialPage(val) {
                const pageNum = val < 1 ? 1 : (val <= this.total ? val : this.total)
                this.goTo(pageNum)
            }
        },

        mounted() {
            this.GET_POPULAR_PERSONS_FROM_API(this.initialPage || 1);
            this.current = this.go = this.initialPage
            this.getPages()
        },

        methods: {
            ...mapActions([
                'GET_POPULAR_PERSONS_FROM_API'
            ]),
            goTo(page) {
                if (page === '...') {
                    return
                }
                if (typeof page.target === 'undefined') {
                    this.current = page
                } else {
                    const value = parseInt(page.target.value, 10)
                    this.go = (
                        value < 1 ? 1 : (value <= this.total ? value : this.total)
                    )
                    this.current = this.go
                }
                this.GET_POPULAR_PERSONS_FROM_API(this.current);
            },
            getPages() {
                if (this.total <= this.max) {
                    let pages = this.setPages(1, this.total)
                    this.pages = pages
                }
                const even = this.max % 2 === 0 ? 1 : 0
                if (this.total < 6) {
                    this.prevRange = Math.floor(this.max / (this.max / 2))
                } else {
                    this.prevRange = Math.floor(this.max / 2)
                }
                this.nextRange = this.total - this.prevRange + 1 + even

                if (this.current >= this.prevRange && this.current <= this.nextRange) {
                    const start = this.current - this.prevRange + 2
                    const end = this.current + this.prevRange - 2 - even

                    this.pages = [1, '...', ...this.setPages(start, end), '...', this.total]
                } else if (this.total < 6) {
                    this.pages = [
                        ...this.setPages(1, this.total)
                    ]
                } else {
                    this.pages = [
                        ...this.setPages(1, this.prevRange),
                        '...',
                        ...this.setPages(this.nextRange, this.total)
                    ]
                }

            },
            setPages(start, end) {
                const setPages = []

                for (start > 0 ? start : 1; start <= end; start++) {
                    setPages.push(start)
                }

                return setPages
            },
            nextPage() {
                if (this.current < this.total) {
                    this.current++
                    this.GET_POPULAR_PERSONS_FROM_API(this.current)
                }
            },
            prevPage() {
                if (this.current > 1) {
                    this.current--
                    this.GET_POPULAR_PERSONS_FROM_API(this.current)

                }
            }
        }
    }
</script>
<style lang="scss">
    .iv-pagination--input-goto {
        color: inherit;
        padding: 8px;
        border-radius: 5px;
        border: 0 solid rgba(0, 0, 0, .2);
        background: #f0f0f0
    }

    .iv-pagination--nav,
    .iv-pagination--ul {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .iv-pagination--ul {
        padding: 0 5px;
        background: #f0f0f0;
        border-radius: 20px;
    }

    .iv-pagination--li {
        cursor: pointer;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        transition: all .25s ease;
        position: relative;
        backface-visibility: visible;
        margin: 0 2px;
        font-weight: 700;
        color: rgba(0, 0, 0, .5)
    }

    .iv-pagination--li span {
        z-index: 100
    }

    .iv-pagination--li .effect {
        z-index: 50;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #f0f0f0;
        top: 0;
        display: block;
        border-radius: 8px;
        transform: scale(.5);
        opacity: 0;
        transition: all .2s ease;
        box-shadow: 0 0 20px 0 transparent;
    }

    .iv-pagination--li.is-current {
        transform: scale(1.05);
        color: #fff;
        font-weight: 700;
        cursor: default;
        background: #f0f0f0
    }

    .iv-pagination--li.is-current .effect {
        opacity: 1;
        transform: scale(1)!important;
        box-shadow: 0 0 20px 0 #f0f0f0
    }

    .iv-pagination--li:hover:not(.is-current) {
        color: #f0f0f0
    }

    .iv-pagination--btns {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(0, 0, 0, .6);
        transition: all .2s ease;
        background: #f0f0f0;
        margin: 0;
        z-index: 200
    }

    .iv-pagination--btns.disabled,
    .iv-pagination--btns:disabled {
        cursor: default;
        pointer-events: none;
        opacity: .5
    }

    .iv-pagination--btns i {
        font-size: 1.2rem
    }

    .iv-pagination--btns:hover {
        background: transparent;
        color: #fff
    }

    .iv-pagination-primary li:hover:not(.is-current) {
        color: rgba(31,116,255, 1)!important
    }

    .iv-pagination-primary .effect {
        box-shadow: 0 0 20px 0 rgba(31,116,255, .5)
    }

    .iv-pagination-primary .effect,
    .iv-pagination-primary .vs-pagination--buttons:hover {
        background: rgba(31,116,255, 1)!important;
    }
</style>
