<template>
    <section class="banner">
        <div class="banner-inner">
            <h1 class="banner__title">
                Ласкаво просимо.
                <span>
                    Мільйони фільмів, серіалів і людей. Досліджуйте зараз.
                </span>
            </h1>
            <div class="search">
                <form id="search-form">
                    <input id="search-input" type="text" placeholder="Пошук фільму, серіалу, людини..."
                           v-model="queryValue">
                    <button
                        id="search__submit-btn"
                        class="search__submit-btn"
                        @click="searchQuery">Шукати
                    </button>
                </form>
            </div>
        </div>
    </section>
</template>

<script>

    export default {
        name: 'MainBanner',
        data() {
            return {
                queryValue: ''
            }
        },
        params: {
            query: ''
        },
        methods: {
            searchQuery(e) {
                this.query = e.target.value;
                this.$router.push({name: 'searchPage', query: {search: this.queryValue}})
            }
        }
    }
</script>
