<template>
    <div class="page__main">
        <div class="movie-card__wrapper" v-for="card in popularMovies">
            <router-link :to="{name: 'filmPage', params: {card: card, id: card.id, media_type: card.media_type}}"
                 class="movie-card">
                <img loading="lazy"
                     :src="imageUrl + card.poster_path"
                     alt=""
                     class="movie-card__img lazy">
                <div class="movie-card__info">
                    <div class="movie-card__title">
                        {{ setCardTitle(card) }}
                    </div>
                    <div class="movie-card__date">
                        {{ card.release_date ? card.release_date : card.first_air_date }}
                    </div>
                </div>
            </router-link>
            <button class="add-to-favorites-btn"
                    type="button"
                    :data-id="card.id"
                    @click="addToFavorites($event)">
                <svg width="32px" height="32px" id="glyphicons-basic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <path id="heart" fill="#ffffff" d="M27.78131,11.92578c0,4.82666-6.13562,8.68128-11.0376,14.0686a.99978.99978,0,0,1-1.48742,0c-4.902-5.38732-11.03748-9.24194-11.03748-14.0686,0-5.52954,7.53626-9.48682,11.57507-3.82544a.25855.25855,0,0,0,.42029.00562C20.47992,2.43628,27.78131,6.39453,27.78131,11.92578Z"/>
                </svg>
            </button>
        </div>

    </div>
</template>

<script>
    import constants from "../../constants";
    import {addingMessage} from '../../libs/addingMessage'

    export default {
        name: 'moviesWrapper',
        data() {
            return {
                imageUrl: constants.imageUrl,
            }
        },
        props: {
            popularMovies: {
                type: Array,
                default: () => {}
            },
            media_type: {
                type: String,
                default: () => ''
            }
        },
        methods: {
            setCardTitle(card) {
                if (card.title) {
                    return card.title
                } else if (card.original_title) {
                    return card.original_title
                } else if (card.name) {
                    return card.name
                } else if (card.original_name) {
                    return card.original_name
                }
            },
            addToFavorites(event) {
                if (JSON.parse(window.localStorage.getItem('favorites')) && JSON.parse(window.localStorage.getItem('favorites')).movies && Object.keys(JSON.parse(window.localStorage.getItem('favorites')).movies).length) {
                    let favorites = JSON.parse(window.localStorage.getItem('favorites'));


                    if (favorites.movies.hasOwnProperty(event.target.dataset.id) && event.target.classList.contains('active')) {
                        delete favorites.movies[event.target.dataset.id];
                        event.target.classList.remove('active');
                        addingMessage('error','/favorites', 'Movie removed from favorites.')
                        if (this.$route.name === 'favoritesPage') {
                            event.target.closest('.movie-card__wrapper').remove();
                        }
                    } else {
                        favorites.movies[event.target.dataset.id] = event.target.dataset.id;
                        event.target.classList.add('active')
                        addingMessage('success','/favorites', 'Movie added to favorites.')

                    }
                    window.localStorage.setItem('favorites', JSON.stringify(favorites))

                } else {
                    let movies = {
                        movies: {}
                    };
                    movies.movies[event.target.dataset.id] = event.target.dataset.id;
                    event.target.classList.add('active')
                    addingMessage('success','/favorites', 'Movie added to favorites.')
                    window.localStorage.setItem('favorites', JSON.stringify(movies))
                }

            },
            checkFavourite() {
                let addToFavouriteBtns = document.querySelectorAll('.add-to-favorites-btn'),
                    favorites = JSON.parse(window.localStorage.getItem('favorites'));

                for (let i = 0; i < addToFavouriteBtns.length; i++) {

                    Object.keys(favorites.movies).forEach(function (key) {
                        if (favorites.movies[key] == addToFavouriteBtns[i].dataset.id) {
                            addToFavouriteBtns[i].classList.add('active');
                        }

                    });
                }
            }
        },
        mounted() {
            this.checkFavourite();
        },
        updated() {
            this.checkFavourite();
        }
    }
</script>
