<template>
    <div class="movie-card__wrapper" v-for="card in popularMovies">
        <router-link :to="{name: 'filmPage', params: {card: card, id: card.id, media_type: card.media_type}}"
                     class="movie-card">
            <img loading="lazy"
                 :src="imageUrl + card.poster_path"
                 alt=""
                 class="movie-card__img lazy">
            <div class="movie-card__info">
                <div class="movie-card__title">
                    {{ setCardTitle(card) }}
                </div>
                <div class="movie-card__date">
                    {{ card.release_date ? card.release_date : card.first_air_date }}
                </div>
            </div>
        </router-link>
        <button class="add-to-favorites-btn"
                type="button"
                :data-id="card.id"
                @click="addToFavorites($event)">
            <svg width="32px" height="32px" id="glyphicons-basic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <path id="heart" fill="#ffffff" d="M27.78131,11.92578c0,4.82666-6.13562,8.68128-11.0376,14.0686a.99978.99978,0,0,1-1.48742,0c-4.902-5.38732-11.03748-9.24194-11.03748-14.0686,0-5.52954,7.53626-9.48682,11.57507-3.82544a.25855.25855,0,0,0,.42029.00562C20.47992,2.43628,27.78131,6.39453,27.78131,11.92578Z"/>
            </svg>
        </button>
    </div>
</template>

<script>
    export default {
        name: 'movieCard',
        data() {
            return {

            }
        }
    }
</script>
