<template>
    <div class="page__aside">
        <div class="section__title">
            {{ title }}
        </div>
    </div>
</template>

<script>
    export default {
        name: 'movieAside',
        data() {
            return {}
        },
        props: {
            title: {
                type: String,
                default: () => {
                    return ''
                }
            }
        }
    }
</script>
