<template>
    <section class="scroller" :class="darkTheme ? 'dark-theme' : ''">
        <div v-if="darkTheme" class="scroller-gradient"></div>
        <div class="scroller__header">
            <div class="scroller__title">
                {{ scrollerTitle}}
            </div>
            <scroller-tabs :darkTheme="darkTheme"
                           :scrollerType="scrollerType"
                           :scrollerFirstTabText="scrollerFirstTabText"
                           :scrollerSecondTabText="scrollerSecondTabText"
                           v-if="scrollerToggles"/>
        </div>
        <div class="scroller__wrapper">
            <div v-for="item in scrollerData"
                 class="scroller__card"
                 @mouseover="changeBg($event, item)"
                 @click="goToFilm(item)">
                <div class="scroller__card-wrapper">
                    <img loading="lazy"
                         :src="picturePath(item)" alt=""
                         class="scroller__card-img">
                    <svg v-if="scrollerType == 'trailers'" class="play-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path fill="#ffffff" d="M24.8175,16.86432,9.503,25.77667A1,1,0,0,1,8,24.91235V7.08765a1,1,0,0,1,1.503-.86432L24.8175,15.13568A1.00006,1.00006,0,0,1,24.8175,16.86432Z"/>
                    </svg>
                </div>

                <div class="scroller__card-info">
                    <div class="card-title">
                        <template v-if="item.original_title">
                            {{item.original_title}}
                        </template>
                        <template v-else-if="item.title">
                            {{item.title}}
                        </template>
                        <template v-else="item.name">
                            {{item.name}}
                        </template>
                    </div>
                    <time class="card-date" v-if="showDate">
                        {{ item.release_date ? item.release_date : item.first_air_date }}
                    </time>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

    import scrollerTabs from "./scrollerTabs";

    export default {
        name: 'Scroller',
        data() {
            return {
                imageUrl: "https://image.tmdb.org/t/p/w342",
            }
        },
        components: {
            scrollerTabs: scrollerTabs
        },
        props: {
            scrollerTitle: String,
            showDate: Boolean,
            darkTheme: this.darkTheme,
            scrollerType: this.scrollerType,
            scrollerFirstTabText: this.scrollerFirstTabText,
            scrollerSecondTabText: this.scrollerSecondTabText,
            scrollerToggles: Boolean,
            scrollerData: {
                type: Array,
                default: () => {
                    return []
                }
            }
        },
        methods: {
            picturePath(item) {
                if (item.poster_path) {
                    return this.imageUrl + item.poster_path
                } else if (item.backdrop_path) {
                    return this.imageUrl + item.backdrop_path
                } else if (item.key) {
                    return `https://i.ytimg.com/vi_webp/${item.key}/mqdefault.webp`
                }
            },
            goToFilm(item) {
                if (!item.key) {
                    this.$router.push({name: 'filmPage', params: {item: item, id: item.id, media_type: item.media_type}})
                }
            },
            changeBg(event, item) {
                let scroller = event.target.closest('.scroller')
                if (scroller.classList.contains('dark-theme')) {
                    if (event.target.classList.contains('scroller__card-img')) {
                        let scrollerCardImgLink = event.target.getAttribute('src')

                        scroller.style.backgroundImage = `url('${scrollerCardImgLink}')`
                    }
                }
            }
        },
    }
</script>
