<template>
    <div class="scroller__tabs"
         :class="darkTheme ? 'dark-theme' : 'white-theme'">
        <input class="scroller-input"
               type="radio"
               :name="scrollerType+'-scroller-tabs'"
               :id="scrollerType+'-tab-1'"
               @change="scrollerType == 'trends' ? fetchTrendingOnClickTab(day) : fetchTrendingOnClickTab(tv)"
        checked>
        <label class="scroller-label" :for="scrollerType+'-tab-1'">
            {{scrollerFirstTabText}}
        </label>
        <input class="scroller-input"
               type="radio"
               :name="scrollerType+'-scroller-tabs'"
               @change="scrollerType == 'trends' ? fetchTrendingOnClickTab(week) : fetchTrendingOnClickTab(cinema)"
               :id="scrollerType+'-tab-2'">
        <label :for="scrollerType+'-tab-2'"
               class="scroller-label">
            {{scrollerSecondTabText}}
        </label>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'

    export default {
        name: 'ScrollerTabs',
        data() {
            return {
                day: 'day',
                week: 'week',
                tv: 'tv',
                cinema: 'movie'
            }
        },
        props: {
            darkTheme: Boolean,
            scrollerType: String,
            scrollerFirstTabText: String,
            scrollerSecondTabText: String,
        },
        computed: {
            ...mapGetters([
                'POPULAR_FILMS',
                'TRENDING_MOVIES'
            ]),
        },
        methods: {
            ...mapActions([
                'GET_POPULAR_FILMS_FROM_API',
                'GET_TRENDING_MOVIES_FROM_API'

            ]),
            fetchTrendingOnClickTab(e) {
                if (this.scrollerType === 'trends') {
                    this.movieType = 'tv'
                    this.GET_TRENDING_MOVIES_FROM_API(e)
                } else if (this.scrollerType === 'popular') {
                    this.GET_POPULAR_FILMS_FROM_API(e)
                }
            },
        },
        mounted() {
            this.fetchTrendingOnClickTab(this.day)
            this.fetchTrendingOnClickTab(this.tv)
        }
    }
</script>
