<template>
    <section class="films-page movies-page">
        <div class="container">

            <movie-aside
                :title="asideTitle"
            />
            <movie-wrapper
                :popularMovies="favoriteMovies"
                :media_type="media_type"/>
        </div>
    </section>
</template>

<script>
    import movieWrapper from "./blocks/moviesWrapper";
    import movieAside from  "./blocks/movieAside"
    import axios from 'axios';
    import constants from "../constants";

    export default {
        name: 'favoritesPage',
        components: {
            'movie-wrapper': movieWrapper,
            'movie-aside': movieAside
        },
        data() {
            return {
                favoriteMovies: [],
                asideTitle: 'Вподобані',
                media_type: 'movie'
            }
        },

        methods: {
            fetchData: function () {
                let favorites = JSON.parse(window.localStorage.getItem('favorites')),
                    vm = this;
                Object.keys(favorites.movies).forEach(function(key) {
                    axios
                        .get(`${constants.baseUrl}/movie/${favorites.movies[key]}?api_key=${constants.apiKey}&language=uk`)
                        .then((response) => {
                            vm.favoriteMovies.push(response.data);
                        });
                })
            },
            setCardTitle(card) {
                if (card.title) {
                    return card.title
                } else if (card.original_title) {
                    return card.original_title
                } else if (card.name) {
                    return card.name
                } else if (card.original_name) {
                    return card.original_name
                }
            },
            addToFavorites(event) {
                if (JSON.parse(window.localStorage.getItem('favorites')) && JSON.parse(window.localStorage.getItem('favorites')).movies && Object.keys(JSON.parse(window.localStorage.getItem('favorites')).movies).length) {
                    let favorites = JSON.parse(window.localStorage.getItem('favorites'));


                    if (favorites.movies.hasOwnProperty(event.target.dataset.id) && event.target.classList.contains('active')) {
                        delete favorites.movies[event.target.dataset.id];
                        event.target.classList.remove('active')
                    } else {
                        favorites.movies[event.target.dataset.id] = event.target.dataset.id;
                        event.target.classList.add('active')

                    }
                    window.localStorage.setItem('favorites', JSON.stringify(favorites))

                } else {
                    let movies = {
                        movies: {

                        }
                    };
                    movies.movies[event.target.dataset.id] = event.target.dataset.id;
                    window.localStorage.setItem('favorites', JSON.stringify(movies))
                }

            },
            checkFavourite() {
                let addToFavouriteBtns = document.querySelectorAll('.add-to-favorites-btn'),
                    favorites = JSON.parse(window.localStorage.getItem('favorites'));
                for (let i = 0; i < addToFavouriteBtns.length; i++) {
                    Object.keys(favorites.movies).forEach(function (key) {
                        if (favorites.movies[key] == addToFavouriteBtns[i].dataset.id && !addToFavouriteBtns[i].classList.contains('active')) {
                            addToFavouriteBtns[i].classList.add('active');
                        }

                    });
                }
            }
        },
        mounted() {
            this.fetchData()
            this.checkFavourite();
        },
        updated() {
            this.checkFavourite();
        }
    }
</script>
