<template>
    <section class="films-page movies-page">
        <div class="container">
            <movie-aside
                    :title="asideTitle"
            />
            <div>
                <movie-wrapper
                    :popularMovies="POPULAR_FILMS"
                :media_type="media_type"/>
            </div>
            <button class="movies-page__btn"
                    type="button"
                    @click="fetchData(true)">
                Загрузити ще
            </button>
        </div>
    </section>
</template>

<script>
    import axios from "axios";
    import movieAside from "./blocks/movieAside";
    import movieWrapper from "./blocks/moviesWrapper";
    import {mapActions, mapGetters, mapMutations} from "vuex";
    import constants from "../constants";

    export default {
        name: 'filmsPage',
        components: {
            'movie-aside': movieAside,
            'movie-wrapper': movieWrapper
        },
        data() {
            return {
                page: 1,
                media_type: 'movie',
                asideTitle: 'Популярні фільми'
            }
        },
        computed: {
            ...mapGetters([
              'POPULAR_FILMS',
            ])
        },
        methods: {
            ...mapActions([
              'CONCAT_POPULAR_FILMS_PAGE',
              'ADD_POPULAR_FILMS_PAGE',
            ]),
            fetchData(add = false) {
                let vm = this;
                axios.get(`${constants.baseUrl}/${this.media_type}/popular?api_key=${constants.apiKey}&language=uk&page=${this.page++}`)
                    .then(response => {
                        response.data.results.forEach((item) => {
                            item.media_type = vm.media_type
                        })
                        if (add) {
                            this.CONCAT_POPULAR_FILMS_PAGE(response.data.results)
                        } else {
                            this.ADD_POPULAR_FILMS_PAGE(response.data.results)
                        }

                    });
            }
        },
        beforeDestroy() {
            this.$store.state.popularFilms = []
        },
        mounted() {
            this.fetchData()
        },

    }
</script>
