<template>
    <section class="movie">
        <div class="movie__top">
            <div class="movie__base" :style="{ backgroundImage: `url(${imageUrl + movie.poster_path})`}">
                <div class="movie__poster">
                    <img class="movie__poster-img" :src="imageUrl + movie.poster_path" alt="">
                </div>
                <div class="movie__base-wrapper">
                    <div class="movie__title">
                        {{ movie.release_date }} {{ movie.title }} {{ runtime }}
                    </div>
                    <div class="movie__rate">
                        {{ movie.vote_average }}
                    </div>
                    <div class="movie__overview">
                        <h2 class="movie__overview-title">
                            Опис
                        </h2>
                        <p class="movie__overview-text">
                            {{ movie.overview }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import axios from 'axios'
    import constants from "../constants";

    export default {
        name: 'filmPage',
        components: {},
        data() {
            return {
                imageUrl: constants.imageUrl,
                movie: [],
                runtime: 0,
            }
        },
        props: {
            id: 0,
            media_type: String,
        },
        methods: {
            fetchData: function () {
                axios
                    .get(`${constants.baseUrl}/${this.media_type}/${this.id}?api_key=${constants.apiKey}&language=uk`
                    )
                    .then((response) => {
                        this.movie = response.data;
                        this.runtime = Math.floor(this.movie.runtime / 60) + 'ч ' + this.movie.runtime % 60 + 'м';

                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }
        },
        mounted() {
            this.fetchData(this.movieType);
        },
    }
</script>
