<template>
    <main v-cloak class="main">
        <mainBanner/>
        <Scroller
            :scroller-toggles="true"
            :scrollerTitle="scrollerPopularTitle"
            :scrollerData="POPULAR_FILMS.results"
            :showDate="true"
            :darkTheme="false"
            :scrollerType="scrollerTypePopular"
            scrollerFirstTabText="По ТВ"
            scrollerSecondTabText="В кинотеатрах"
        />
        <Scroller
            :scroller-toggles="false"
            :scrollerTitle="scrollerTrailersTitle"
            :scrollerData="TRAILERS_OF_FILMS"
            :showDate="true"
            :darkTheme="true"
            :scrollerType="scrollerTypeTrailers"
        />
        <Scroller
            :scroller-toggles="true"
            :scrollerTitle="scrollerTrendsTitle"
            :scrollerData="TRENDING_MOVIES.results"
            :showDate="true"
            :darkTheme="false"
            :scrollerType="scrollerTypeTrends"
            scrollerFirstTabText="Сьогодні"
            scrollerSecondTabText="На цьому тижні"

        />
    </main>
</template>

<script>
    import mainBanner from "./blocks/mainBanner";
    import Scroller from "./blocks/Scroller";
    import {mapActions, mapGetters} from 'vuex';
    import vsIcon from "./blocks/vsIcon";

    export default {
        name: 'homePage',
        components: {
            mainBanner,
            Scroller,
            vsIcon
        },
        data() {
            return {
                scrollerPopularTitle: 'Що популярне',
                scrollerTrendsTitle: 'В тренді',
                scrollerTrailersTitle: 'Останні трейлери',
                scrollerTypePopular: 'popular',
                scrollerTypeTrends: 'trends',
                scrollerTypeTrailers: 'trailers',
                scrollerFirstTabText: String,
                scrollerSecondTabText: String,
            }
        },
        computed: {
            ...mapGetters([
                'POPULAR_FILMS',
                'TRENDING_MOVIES',
                'UPCOMING_FILMS',
                'TRAILERS_OF_FILMS',
                'UPCOMING_FILMS_IDS',
            ]),

        },
        methods: {
            ...mapActions([
                'GET_POPULAR_FILMS_FROM_API',
                'GET_TRENDING_MOVIES_FROM_API',
                'GET_UPCOMING_FILMS_FROM_API',

            ]),
        },
        mounted() {
            if (!this.TRAILERS_OF_FILMS.length) {
                this.GET_UPCOMING_FILMS_FROM_API();
            }

        }
    }
</script>
<style scoped>
    @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
    @import url("https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css");
</style>
