<template>
    <section class="person">
        <div class="person__aside">
            <img loading="lazy" class="person__img"
                 :src="person.profile_path != null ? imageUrl + person.profile_path : 'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-36-user-female-grey-d9222f16ec16a33ed5e2c9bbdca07a4c48db14008bbebbabced8f8ed1fa2ad59.svg'"
                 :alt="person.name">
            <div class="person__info">
                <div class="person__info-title">
                    Особиста інформація
                </div>
                <div class="person__info-known-for person__info-item">
                    <div class="person__info-subtitle">
                        Відомий(-а) за
                    </div>
                    <div class="person__info-text">
                        {{ person.known_for_department }}
                    </div>
                </div>
                <div class="person__info-gender person__info-item">
                    <div class="person__info-subtitle">
                        Стать
                    </div>
                    <div class="person__info-text">
                        {{ person.gender }}
                    </div>
                </div>
                <div class="persom__info-birthday person__info-item">
                    <div class="person__info-subtitle">
                        День народження
                    </div>
                    <div class="person__info-text">
                        {{ person.birthday }}
                    </div>
                </div>
                <div class="person__info-birthplace person__info-item">
                    <div class="person__info-subtitle">
                        Місце народження
                    </div>
                    <div class="person__info-text">
                        {{ person.place_of_birth }}
                    </div>
                </div>
                <ul class="person__info-known-as person__info-item">
                    <div class="person__info-subtitle">
                        Також відомий як
                    </div>
                    <li v-for="known_as in person.also_known_as" class="person__info-known-as-item person__info-text">
                        {{ known_as}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="person__main">
            <div class="person__name">
                {{ person.name }}
            </div>
            <div class="person__biography">
                <div class="person__biography-title">
                    Біографія
                </div>
                <div class="person__biography-text">
                    {{person.biography}}
                </div>
            </div>
            <Scroller
                :scroller-title="scrollerTitle"
                :scrollerToggles="false"
                :scrollerData="this.$attrs.person.known_for"
            />
        </div>
    </section>
</template>

<script>
    import Scroller from "./blocks/Scroller";
    import constants from "../constants";

    export default {
        name: 'personPage',
        components: {
            Scroller: Scroller

        },
        data() {
            return {
                imageUrl: constants.imageUrl,
                person: {},
                runtime: 0,
                scrollerTitle: 'Відомий(-а) за'
            }
        },
        methods: {
            fetchData() {
                this.$http
                    .get(`${constants.baseUrl}/person/${this.$attrs.id}?api_key=${constants.apiKey}&language=uk`)
                    .then((response) => {
                        this.person = response.body;

                        if (this.person.biography === "") {
                            this.$http
                                .get(`${constants.baseUrl}/person/${this.$attrs.id}?api_key=${constants.apiKey}&language=en`)
                                .then((response) => {
                                    this.person.biography = response.body.biography;
                                })
                        }
                        if (this.person.profile_path === null) return
                        if (this.person.gender === 2) {
                            return this.person.gender = 'Чоловік'
                        } else if (this.person.gender === 1) {
                            return this.person.gender = 'Жінка'
                        }

                    });
            },
            saveData() {
                if (this.$attrs.person) {
                    localStorage.setItem('personData' + this.$attrs.id, JSON.stringify(this.$attrs.person))
                } else {
                    this.$attrs.person = JSON.parse(localStorage.getItem('personData' + this.$attrs.id))
                }
            }
        },
        mounted() {
            this.fetchData();
            this.saveData();
        },
    }
</script>
