
<template>
    <main v-cloak class="main">
        <div class="section__title">
            Популярні
        </div>
        <section class="persons">
            <router-link
                :to="{name: 'personPage', params: {person: person, id: person.id}}"
                v-for="person in POPULAR_PERSONS.results"
                :key="person.id"
                class="person-card">
                <img
                    class="person-card__img"
                    :src="person.profile_path != null ? imageUrl + person.profile_path : 'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-36-user-female-grey-d9222f16ec16a33ed5e2c9bbdca07a4c48db14008bbebbabced8f8ed1fa2ad59.svg'"
                    :alt="person.name">
                <div class="person-card__info">
                    <div class="person-card__info-name">
                        {{person.name}}
                    </div>
                    <div class="person-card__info-films">
                        <template v-for="movie in person.known_for">
                            {{movie.title}}
                        </template>
                    </div>
                </div>
            </router-link>
        </section>
        <iv-pagination :goto="3" :initialPage="5" :total="POPULAR_PERSONS.total_pages"></iv-pagination>
    </main>
</template>

<script>
    import {mapGetters} from 'vuex'
    import ivPagination from './blocks/ivPagination'
    import constants from "../constants"

    export default {
        name: 'personsPage',
        data() {
            return {
                imageUrl: constants.imageUrl,
            }
        },
        components: {
          ivPagination,
        },
        computed: {
            ...mapGetters([
              'POPULAR_PERSONS'
            ]),
        }
    }
</script>

<style scoped>
    @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
    @import url("https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css");
</style>
