<template>
    <section class="search-page">
        <div class="container">
            <div class="search-page__input-wrapper">
                <input @keyup="getAllData"
                       @change="getAllData"
                       @input="getAllData"
                       autocomplete="true"
                       v-model="queryValue"
                       class="search-page__input"
                       placeholder="Пошук фільму, серіалу, людини">
            </div>

            <div class="search-page__wrapper">
                <div class="search-page__aside">
                    <div class="search-page__aside-title">
                        Search Results
                    </div>
                    <ul class="search-page__aside-list">
                        <li v-for="(category, key) in categoryList" @click="activeCategory($event.target)" :data-type="key" :class="key == 'films' ? 'active' : ''" class="aside-list__item">
                            {{category.name}}
                            <span>{{category.totalResults}}</span>
                        </li>
                    </ul>
                </div>
                <div class="search-page__main">
                    <template v-if="categoryData.results && categoryData.results.length">
                        <div class="search-results">
                            <div v-for="item in categoryData.results" class="search-results__item">
                                <img v-if="item.poster_path"
                                    :src="imageUrl + item.poster_path"
                                    alt="" class="result__img">
                                <img v-else-if="item.profile_path"
                                    :src="imageUrl + item.profile_path"
                                    alt="" class="result__img">
                                <img v-else-if="categoryData.type != 'keywordsResults' && categoryData.type != 'companiesResults'" :src="'/src/assets/user-default.svg'" alt="" class="result__img">
                                <div class="result__item-wrapper">
                                    <h3 class="result__title">
                                        {{ item.original_title ? item.original_title : item.name}}
                                    </h3>
                                    <div v-if="item.first_air_date || item.release_date" class="result__date">
                                        {{ item.first_air_date ? item.first_air_date : item.release_date }}
                                    </div>
                                    <div v-if="item.overview" class="result__summaries">
                                        {{item.overview}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination">
                            <a
                                :class="{'page-number--active': page === pageNumber}"
                                :key="page"
                                class="page-number"
                                v-for="page in totalPages"
                                v-if="Math.abs(pageNumber - page) < 3 && totalPages !== 1 || pageNumber === totalPages+1 || pageNumber === 0 || page === 1 && totalPages != 1 || page === totalPages && totalPages != 1"
                                @click="getPage(page, oneType)"
                            >
                                {{page}}
                            </a>
                        </div>
                    </template>
                    <template v-else>
                        <div class="search-results">
                            {{categoryData.empty}}
                        </div>
                    </template>
                </div>

            </div>
        </div>

    </section>
</template>

<script>
    import axios from 'axios'
    import constants from "../constants";

    export default {
        name: 'searchPage',
        data() {
            return {
                page: 1,
                pageNumber: 1,
                totalPages: 1,
                categoryList: {
                    films: {
                        data: this.filmsResults,
                        name: 'Фільми',
                        url: 'movie',
                        empty: 'Немає фільмів, що відповідають Вашому запиту.',
                        // totalResults: this.filmsResults.total_results
                    },
                    persons: {
                        data: 'this.personsResults',
                        url: 'person',
                        name: 'Люди',
                        empty: 'Немає людей, що відповідають Вашому запиту.'
                    },
                    tv: {
                        data: this.tvResults,
                        url: 'tv',
                        name: 'Серіали',
                        empty: 'Немає серіалів, що відповідають Вашому запиту.'
                    },
                    collections: {
                        data: this.collectionsResults,
                        name: 'Колекції',
                        url: 'collection',
                        empty: 'Немає колекцій, що відповідають Вашому запиту.'
                    },
                    companies: {
                        data: this.companiesResults,
                        url: 'company',
                        name: 'Компанії',
                        empty: 'Немає компаній, що відповідають Вашому запиту.'
                    },
                    keywords: {
                        data: this.keywordsResults,
                        url: 'keyword',
                        name: 'Ключові слова',
                        empty: 'Немає ключових слів, що відповідають Вашому запиту.'
                    }
                },
                categoryData: {
                    results: 0
                },
                searchResults: {
                    results: 0
                },
                filmsResults: {
                    results: 0
                },
                personsResults: {
                    results: 0
                },
                tvResults: {
                    results: 0
                },
                collectionsResults: {
                    results: 0
                },
                companiesResults: {
                    results: 0
                },
                keywordsResults: {
                    results: 0
                },
                imageUrl: constants.imageUrl,
                queryValue: '',
                oneType: true
            }
        },
        methods: {
            getResult: function (queryValue) {
                if (queryValue !== '') {
                    axios
                        .get(`${constants.baseUrl}/search/multi?api_key=${constants.apiKey}&page=${this.pageNumber}&query=${queryValue}`)
                        .then(response => {
                            this.searchResults = response.data
                        })
                } else {
                    this.searchResults.total_results = 0
                }
            },
            getFilms: function (queryValue) {
                if (queryValue !== '') {
                    axios
                        .get(`${constants.baseUrl}/search/movie?api_key=${constants.apiKey}&page=${this.pageNumber}&query=${queryValue}`)
                        .then(response => {
                            this.filmsResults = response.data

                        })
                } else {
                    this.filmsResults.total_results = 0
                }

            },
            getPersons: function (queryValue) {
                if (queryValue !== '') {
                    axios
                        .get(`${constants.baseUrl}/search/person?api_key=${constants.apiKey}&page=${this.pageNumber}&query=${queryValue}`)
                        .then(response => {
                            this.personsResults = response.data

                        })
                } else {
                    this.personsResults.total_results = 0
                }
            },
            getTv: function (queryValue) {
                if (queryValue !== '') {
                    axios
                        .get(`${constants.baseUrl}/search/tv?api_key=${constants.apiKey}&page=${this.pageNumber}&query=${queryValue}`)
                        .then(response => {
                            this.tvResults = response.data

                        })
                } else {
                    this.tvResults.total_results = 0
                }
            },
            getCollections: function (queryValue) {
                if (queryValue !== '') {
                        axios
                        .get(`${constants.baseUrl}/search/collection?api_key=${constants.apiKey}&page=${this.pageNumber}&query=${queryValue}`)
                        .then(response => {
                            this.collectionsResults = response.data

                        })
                } else {
                    this.collectionsResults.total_results = 0
                }
            },
            getCompanies: function (queryValue) {
                if (queryValue !== '') {
                    axios
                        .get(`${constants.baseUrl}/search/company?api_key=${constants.apiKey}&page=${this.pageNumber}&query=${queryValue}`)
                        .then(response => {
                            this.companiesResults = response.data

                        })
                } else {
                    this.companiesResults.total_results = 0
                }
            },
            getKeywords: function (queryValue) {
                if (queryValue !== '') {
                    axios
                        .get(`${constants.baseUrl}/search/keyword?api_key=${constants.apiKey}&page=${this.pageNumber}&query=${queryValue}`)
                        .then(response => {
                            this.keywordsResults = response.data

                        })
                } else {
                    this.keywordsResults.total_results = 0
                }
            },
            getAllData: function (oneType) {
                let activeCategory = document.querySelector('.aside-list__item.active');

                if (oneType) {
                    if (activeCategory.getAttribute('data-type') == 'films') {
                        this.getFilms(this.queryValue);
                    } else if (activeCategory.hasAttribute('data-type') == 'tv') {
                        this.getTv(this.queryValue);
                    } else if (activeCategory.hasAttribute('data-type') == 'persons') {
                        this.getPersons(this.queryValue);
                    } else if (activeCategory.hasAttribute('data-type') == 'collections') {
                        this.getCollections(this.queryValue);
                    } else if (activeCategory.hasAttribute('data-type') == 'companies') {
                        this.getCompanies(this.queryValue);
                    } else if (activeCategory.hasAttribute('data-type') == 'keywords') {
                        this.getKeywords(this.queryValue);
                    }
                    this.getResult(this.queryValue);

                } else {
                    this.getResult(this.queryValue);
                    this.getCollections(this.queryValue);
                    this.getTv(this.queryValue);
                    this.getPersons(this.queryValue);
                    this.getFilms(this.queryValue);
                    this.getCompanies(this.queryValue);
                    this.getKeywords(this.queryValue);
                }
                this.activeCategory(activeCategory);
            },
            activeCategory(el) {
                console.log(el);
                if (el) {
                    let list = el.parentElement.children;

                    if (!el.classList.contains('active')) {
                        this.pageNumber = 1;
                        this.getAllData();
                        for (let i = 0; i < list.length; i++) {
                            if (list[i] !== el) {
                                list[i].classList.remove('active');
                            }
                        }
                        el.classList.add('active');
                    }
                }

                if (el.getAttribute('data-type') == 'films') {
                    if (!this.queryValue.length || this.filmsResults.results == 0) {
                        this.categoryData = {
                            empty: 'Немає фільмів, що відповідають Вашому запиту.'
                        }
                    } else {
                        this.categoryData = this.filmsResults;
                        this.categoryData.type = 'filmsResults';
                    }
                } else if (el.getAttribute('data-type') == 'tv') {
                    if (!this.queryValue.length || this.tvResults.results == 0) {
                        this.categoryData = {
                            empty: 'Немає серіалів, що відповідають Вашому запиту.'
                        }
                    } else {
                        this.categoryData = this.tvResults;
                        this.categoryData.type = 'tvResults';
                    }
                } else if (el.getAttribute('data-type') == 'persons') {
                    if (!this.queryValue.length || this.personsResults.results == 0) {
                        this.categoryData = {
                            empty: 'Немає людей, що відповідають Вашому запиту.'
                        }
                    } else {
                        this.categoryData = this.personsResults;
                        this.categoryData.type = 'personsResults';
                    }
                } else if (el.getAttribute('data-type') == 'collections') {
                    if (!this.queryValue.length || this.collectionsResults.results == 0) {
                        this.categoryData = {
                            empty: 'Немає колекцій, що відповідають Вашому запиту.'
                        }
                    } else {
                        this.categoryData = this.collectionsResults;
                        this.categoryData.type = 'collectionsResults';
                    }
                } else if (el.getAttribute('data-type') == 'companies') {
                    if (!this.queryValue.length || this.companiesResults.results == 0) {
                        this.categoryData = {
                            empty: 'Немає компаній, що відповідають Вашому запиту.'
                        }
                    } else {
                        this.categoryData = this.companiesResults;
                        this.categoryData.type = 'companiesResults';
                    }
                } else if (el.getAttribute('data-type') == 'keywords') {
                    if (!this.queryValue.length || this.keywordsResults.results == 0) {
                        this.categoryData = {
                            empty: 'Немає ключових слів, що відповідають Вашому запиту.'
                        }
                    } else {
                        this.categoryData = this.keywordsResults;
                        this.categoryData.type = 'keywordsResults';
                    }
                }
                this.totalPages = this.categoryData.total_pages
            },
            getPage(page, oneType) {
                this.pageNumber = page;
                this.getAllData(oneType);

            },
        },
        mounted() {
            this.queryValue = this.$route.query.search ? this.$route.query.search : '';
            this.getAllData();

        },
        beforeRouteEnter(to, from, next) {
            next(vm => {
                axios
                    .get(`${constants.baseUrl}/search/movie?api_key=${constants.apiKey}&page=${vm.pageNumber}&query=${vm.$route.query.search}`)
                    .then(response => {
                        vm.categoryData = response.data
                        vm.totalPages = vm.categoryData.total_pages
                    })
            })
        },
        beforeRouteUpdate(to, from, next) {
            next(vm => {
                axios
                    .get(`${constants.baseUrl}/search/movie?api_key=${constants.apiKey}&page=${vm.pageNumber}&query=${vm.$route.query.search}`)
                    .then(response => {
                        vm.categoryData = response.data
                        vm.totalPages = vm.categoryData.total_pages
                    })
            })
        }

    }
</script>
