<template>
    <section class="films-page movies-page">
        <div class="container">
            <movie-aside
                    :title="asideTitle"
            />
            <div>
                <movie-wrapper
                    :media_type="media_type"
                    :popularMovies="POPULAR_SERIALS"/>
            </div>
            <button class="movies-page__btn"
                    type="button"
                    @click="fetchData(true)">
                Загрузить еще
            </button>
        </div>
    </section>
</template>

<script>
    import movieAside from "./blocks/movieAside";
    import movieWrapper from "./blocks/moviesWrapper";
    import {mapActions, mapGetters, mapMutations} from "vuex";
    import constants from "../constants";
    import axios from "axios";

    export default {
        name: 'serialsPage',
        components: {
            'movie-aside': movieAside,
            'movie-wrapper': movieWrapper
        },
        data() {
            return {
                page: 1,
                media_type: 'tv',
                asideTitle: 'Популярні серіали'

            }
        },
        computed: {
            ...mapGetters([
                'POPULAR_SERIALS',
            ])
        },
        methods: {
            ...mapActions([
                'CONCAT_POPULAR_SERIALS_PAGE',
                'ADD_POPULAR_SERIALS_PAGE',
            ]),
            fetchData: function (add = false) {
                let vm = this;
                 axios
                    .get(`${constants.baseUrl}/${this.media_type}/popular?api_key=${constants.apiKey}&language=uk&page=${this.page++}`)
                    .then(response => {
                        response.data.results.forEach(function (item) {
                            item.media_type = vm.media_type
                        })
                        if (add) {
                            this.CONCAT_POPULAR_SERIALS_PAGE(response.data.results)
                        } else {
                            this.ADD_POPULAR_SERIALS_PAGE(response.data.results)
                        }
                    });
            }
        },
        beforeDestroy() {
            this.$store.state.popularSerials = []
        },
        mounted() {
            this.fetchData()
        },
    }
</script>
