<template>
  <div id="app">
    <Header />
    <router-view></router-view>
    <Footer />
  </div>
</template>

<script>
import Header from "./components/blocks/Header";
import Footer from "./components/blocks/Footer";
export default {
  name: 'app',
  components: {
    Header,
    Footer
  },
  data() {
    return {

    }
  }
}
</script>

<style lang="scss">
@import 'scss/build';

</style>
