*, ::before, ::after {
  box-sizing: border-box;
}
html, body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--colorWhite);
}
html {

}
ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(var(--scrollerGrey), 1);
  border-radius: 20px;
}
body::-webkit-scrollbar-track {
  background: #fff;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    //color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: var(--maxPrimaryPageWidth);
}

.section__title {
  color: #000;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.5em;
  margin-top: 20px;
}

[v-cloak] {
  display: none;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
