.movie {
    &__top {
        background-image: linear-gradient(to right, rgba(8.24%, 9.80%, 10.20%, 1.00) 150px, rgba(8.24%, 9.80%, 10.20%, 0.84) 100%);
    }
    &__base {
        background-size: cover;
        &-wrapper {

        }
    }
    &__poster {
        &-img {
            max-width: 300px;
            max-height: 450px;
            border-radius: 8px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 35px;
        color: var(--colorWhite);
    }
    &__rate {

    }
    &__overview {
        &-title {

        }
        &-text {

        }
    }
}
