.footer {
    max-width: 100%;
    margin-top: auto;
    padding: 80px 40px;
    width: 100vw;
    box-sizing: border-box;
    background-image: radial-gradient(at 30% top, #031d33 0%, rgba(var(--tmdbDarkBlue), 1) 70%);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    align-content: space-between;
    justify-content: center;
    margin-top: auto;
    @include media($tablet) {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    &__logo {
        max-width: 200px;
        margin-right: 40px;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        column-gap: 40px;
        @include media($sm) {
            flex-wrap: wrap;
            row-gap: 40px;
        }
        @include media($tablet) {
            margin-top: 40px;
        }
        &-list {
            @include media($sm) {
                width: calc(50% - 20px);
            }
            @include media($xs) {
                width: 100%;
            }
            .logo {
                img {
                    width: 130px;
                }
            }
        }
    }

    &__list-item {
        font-size: 1.2em;

        &:nth-child(2) {
            margin-top: 4px;
        }

        &--title {
            font-weight: bold;
            font-size: 1.4em;
            line-height: 1.4em;
            text-transform: uppercase;
            white-space: nowrap;
        }

        &__link {

        }
    }
}
