.menu-opened {
    .header__nav {
        transform: translateX(0);
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--tmdbDarkBlue), 1);
    width: 100%;
    left: 0;
    height: 64px;
    z-index: 2;
    padding: 0 40px;
    transition: top .3s;
    position: sticky;
    @include media($xs) {
        padding: 0 10px
    }

    a {
        color: #fff;
        font-weight: 600;
        font-size: 1em;
    }

    &__inner {
        width: var(--maxPrimaryPageWidth);
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__nav {
        transition: transform .3s;
        @include media($xs) {
            position: absolute;
            top: 57px;
            left: -11px;
            height: calc(100vh - 64px);
            width: 100vw;
            padding: 40px;
            background: rgba(var(--tmdbDarkBlue), 0.9);
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            transform: translateX(-100%);
        }
        .list {
            display: flex;
            justify-content: space-between;
            @include media($xs) {
                flex-direction: column;
                row-gap: 20px;
            }

            &__item {
                margin-right: 14px;
                @include media($xs) {
                    font-weight: 600;
                    font-size: 1.3em;
                }


                &-link {
                    padding: .5rem .5rem;
                }
            }
        }
    }
    .category__nav-wrapper {
        display: flex;
        align-items: center;
        .ham {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transition: transform 400ms;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            display: none;
            & > * {
                pointer-events: none;
            }
            @include media($xs) {
                display: block;
            }
        }
        .hamRotate.active {
            transform: rotate(45deg);
        }
        .hamRotate180.active {
            transform: rotate(180deg);
        }
        .line {
            fill:none;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke: #01b4e4;
            stroke-width:5.5;
            stroke-linecap:round;
        }
        .ham7 .top {
            stroke-dasharray: 40 82;
        }
        .ham7 .middle {
            stroke-dasharray: 40 111;
        }
        .ham7 .bottom {
            stroke-dasharray: 40 161;
        }
        .ham7.active .top {
            stroke-dasharray: 17 82;
            stroke-dashoffset: -62px;
        }
        .ham7.active .middle {
            stroke-dashoffset: 23px;
        }
        .ham7.active .bottom {
            stroke-dashoffset: -83px;
        }

        .logo {
            margin-right: 16px;
            width: 154px;
            height: 20px;
            @include media($xs) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .primary {
        display: flex;
        align-items: center;

        &__item {
            margin-left: 30px;
            max-height: 32px;
            @include media($xs) {
                margin-left: 16px;
            }

            &:nth-of-type(1) {
                margin-left: 0;
            }

            &-link {
                .plus-icon {
                    width: 22px;
                    height: 22px;
                }

                .search-icon {
                    width: 29px;
                    height: 29px;
                }
            }

            .translate-link {
                width: 28px;
                height: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                border: 1px solid #fff;
                border-radius: 3px;
                padding: 3px 5px;
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
}
