@mixin media($screen_width) {
  @media screen and (max-width: $screen_width){
    @content;
  }
}
@mixin media_min($screen_width) {
  @media screen and (min-width: $screen_width){
    @content;
  }
}
@mixin media_min_max($screen_width_min, $screen_width_max) {
  @media screen and (min-width: $screen_width_min) and (max-width: $screen_width_max) {
    @content
  }
}
@mixin align-flex($column, $horizontal, $vertical){
  display: flex;
  flex-direction: $column;
  justify-content: $horizontal;
  align-items: $vertical;
}
