.search-page {
    color: #000;

    &__input {
        width: 100%;
        height: 44px;
        border: none !important;
        outline: none;
        font-size: 100%;
        color: #acacac;
        text-indent: 0;
        padding-left: 30px;
        padding-right: 0;
        &-wrapper {
            position: relative;

            &:after {
                content: '';
                height: 1px;
                width: 100vw;
                background-color: rgba(var(--lightGrey), 1);
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

    }

    &__wrapper {
        display: grid;
        grid-template-columns: 260px 1fr;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__aside {
        border: 1px solid rgba(var(--lightGrey), 1);
        border-radius: var(--imageBorderRadius);
        min-width: 260px;
        height: fit-content;

        &-title {
            margin: 0;
            font-weight: 600;
            padding: 20px;
            color: #fff;
            background-color: rgba(var(--accountLightBlue), 1);
            border-top-left-radius: var(--imageBorderRadius);
            border-top-right-radius: var(--imageBorderRadius);


        }

        &-list {
            .aside-list__item {
                width: 100%;
                padding: 10px 20px;
                font-size: 1em;
                line-height: 1.4em;
                margin: 0;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: space-between;
                cursor: pointer;

                &:hover {
                    background: rgba(0, 0, 0, 0.08);
                }

                &.active {
                    background: rgba(0, 0, 0, 0.08);
                }

                span {
                    display: inline-flex;
                    align-items: center;
                    font-size: 0.8em;
                    font-weight: 300;
                    background-color: rgba(0, 0, 0, 0.08);
                    padding: 0px 10px;
                    border-radius: 8px;
                }
            }
        }
    }

    &__main {
        padding-left: 30px;
        .search-results {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 20px;
            &__item {
                box-shadow: 0 2px 8px #0000001a;
                border: 1px solid rgba(var(--lightGrey), 1);
                border-radius: var(--imageBorderRadius);
                display: flex;
                .result__img {
                    width: 91px;
                    height: 141px;
                    border-top-left-radius: var(--imageBorderRadius);
                    border-bottom-left-radius: var(--imageBorderRadius);
                    background-color: #dbdbdb;
                    background-size: 50%;
                    box-sizing: border-box;
                    border: 1px solid #d7d7d7;
                }
                .result__item-wrapper {
                    padding: 10px 15px;
                    .result__title {

                    }
                    .result__date {

                    }
                    .result__summaries {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
