.movies-page {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

    & > .container {
        display: grid;
        grid-template-columns: 260px minmax(180px, 1fr);
        @include media($sm) {
            grid-template-columns: 1fr;
        }
    }

    .page__aside {
        .section__title {
            margin-top: unset;
        }
    }

    .page__main {
        display: grid;
        grid-template-columns: repeat(12, 8.333%);
        column-gap: 30px;
        row-gap: 30px;
        justify-content: center;
        position: relative;
        .movie-card {
            border-radius: 8px;
            border: 1px solid #e3e3e3;
            display: block;
            &__wrapper {
                position: relative;
                grid-column-end: span 2;

                .add-to-favorites-btn {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    &.active {
                        -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                        animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                        svg {
                            path {
                                fill: #01b4e4;
                            }
                        }
                    }
                    svg {
                        pointer-events: none;
                        path {
                            transition: fill .3s;
                        }
                    }
                    &:hover {
                        path {
                            pointer-events: none;
                            fill: #01b4e4;
                        }
                    }
                }
            }
            &__info {
                padding: 26px 10px 12px 10px;
            }

            &__img {
                width: 100%;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }

            &__title {
                color: var(--colorBlack);
                font-weight: 700;
            }

            &__date {
                color: #00000099;
            }
        }
    }

    &__btn {
        margin-top: 30px;
        margin-left: auto;
        padding: 0;
        max-width: 1040px;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--imageBorderRadius);
        background-color: rgba(var(--accountLightBlue), 1);
        font-size: 24px;
        font-weight: 700;
        color: var(--colorWhite);
        border: none;
        grid-area: 2 / 2;
        @include media($sm) {
           grid-area: auto;
        }
    }
}
